/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/
.up-UIProfiler {
  height: 100%;
  overflow: hidden;
  color: var(--jp-content-font-color1);
  font-size: var(--jp-ui-font-size1);
  display: grid;
  grid-template:
    'launcher launcher'
    'history result';
  grid-template-columns: minmax(100px, min-content) minmax(200px, 1fr);
  grid-template-rows: 0fr 1fr;
}

.up-BenchmarkLauncher {
  padding: 8px;
  grid-area: launcher;
  overflow: hidden;
  resize: vertical;
  min-height: 100px;
}

.up-BenchmarkLauncher-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  height: 100%;
}

.up-BenchmarkLauncher-card {
  border-right: 1px solid var(--jp-layout-color2);
  overflow: hidden;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.up-BenchmarkLauncher-card:last-child {
  border-right: 0;
}

.up-BenchmarkLauncher-forms {
  overflow: auto;
  flex-grow: 1;
}

.up-BenchmarkLauncher .array-item button {
  margin: 2px;
}

.up-BenchmarkLauncher .btn-info[type='submit'] {
  display: none;
}

.up-BenchmarkLauncher-forms fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.up-BenchmarkLauncher-forms fieldset legend {
  border: 0;
  margin: 0;
  padding: 0;
}

.up-BenchmarkLauncher-forms .jp-root > fieldset > legend {
  font-size: var(--jp-ui-font-size1);
  font-weight: 600;
}

.up-BenchmarkLauncher-forms .jp-FormGroup-content {
  margin-bottom: 6px;
}

.up-BenchmarkLauncher-forms .rjsf {
  margin-bottom: 8px;
}

.up-BenchmarkLauncher-choices
  label:first-child
  .up-BenchmarkLauncher-choice-input {
  margin-left: 0;
}

.up-BenchmarkLauncher .jp-FormGroup-fieldLabel {
  font-weight: normal;
  margin: 0;
  font-size: var(--jp-ui-font-size1);
}

.up-BenchmarkLauncher-forms fieldset input,
.up-BenchmarkLauncher-forms fieldset select {
  font-size: var(--jp-content-font-size1);
  border-color: var(--jp-input-border-color);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  padding: 4px 6px;
  background: none;
  color: var(--jp-content-font-color0);
  height: inherit;
}

/* prevent duplicated description from showing up on checkboxes */
.up-BenchmarkLauncher-forms .checkbox > .field-description {
  display: none;
}

.up-BenchmarkLauncher-choices {
  margin-bottom: 8px;
  user-select: none;
}

.up-BenchmarkMonitor .jp-Statusbar-ProgressBar-progress-bar {
  width: 100%;
}

.up-BenchmarkResult {
  padding: 8px;
  min-height: 0;
  grid-area: result;
  overflow: auto;
  border-top: var(--jp-border-width) solid var(--jp-border-color1);
  display: grid;
  grid:
    'summary'
    'options'
    'details';
  grid-template-rows: min-content min-content 1fr;
}

.up-BenchmarkResult-summary {
  display: grid;
  grid: 'benchmarkInfo environmentInfo';
  grid-area: summary;
  min-height: 0;
}

.up-BenchmarkResult-details {
  grid-area: details;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.up-BenchmarkResult-options {
  grid-area: options;
  display: grid;
  min-height: 0;
}

.up-BenchmarkResult-options .filter {
  display: none;
}

.up-BenchmarkResult-options details {
  overflow: hidden;
}

.up-BenchmarkResult-options-benchmark,
.up-BenchmarkResult-options-scenario {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.up-BenchmarkResult-options-benchmark .container > ul {
  margin-top: 0;
}

.up-BenchmarkHistory {
  grid-area: history;
  min-height: 0;
  overflow: auto;
  background-color: var(--jp-layout-color2);
  border-right: var(--jp-border-width) solid var(--jp-border-color1);
  border-top: var(--jp-border-width) solid var(--jp-border-color1);
}

.up-BenchmarkHistory-files {
  list-style-type: none;
  margin: 0;
  white-space: nowrap;
  padding: 0;
}

.up-BenchmarkHistory-file {
  padding: 4px 8px;
  border-right: 5px solid transparent;
}

.up-BenchmarkHistory-file:hover {
  background: var(--jp-layout-color1);
}

.up-BenchmarkHistory-file-active {
  border-color: var(--jp-brand-color1);
}

.up-BenchmarkMonitor {
  width: 100%;
  margin: auto;
  padding-right: 18px;
  box-sizing: border-box;
}

.up-widget-heading {
  margin: 4px 8px;
  display: none;
}

.up-card-heading {
  margin: 4px 0;
}

.up-mod-completed .jp-Statusbar-ProgressBar-progress-bar > div {
  background: var(--jp-accent-color2);
}

.up-mod-completed .jp-Statusbar-ProgressBar-progress-bar {
  border-color: var(--jp-accent-color1);
}

.up-BenchmarkMonitor-content.up-mod-waiting {
  display: none;
}

.up-BenchmarkMonitor-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.up-BenchmarkResult-benchmarkInfo {
  grid-area: benchmarkInfo;
}

.up-BenchmarkResult-environmentInfo {
  grid-area: environmentInfo;
}

.up-BenchmarkResult .lm-DataGrid {
  min-height: 100%;
}

.up-BenchmarkResult-details .up-LuminoWidgetWrapper {
  flex-grow: 1;
  margin-top: 8px;
}

.up-BenchmarkLauncher .jp-mod-styled:disabled {
  opacity: 0.4;
}

.up-label-disabled {
  opacity: 0.4;
}

.up-ProfileTrace {
  overflow: hidden;
  user-select: none;
  resize: vertical;
}

.up-ProfileTrace-content {
  position: relative;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  height: 100%;
}

.up-ProfileTrace-frame {
  position: absolute;
  background: var(--jp-accent-color3);
  overflow: hidden;
  border: 1.5px solid var(--jp-border-color3);
  display: flex;
  align-items: center;
}

.up-ProfileTrace-frame-native {
  background: var(--jp-brand-color3);
}

.up-ProfileTrace-frame:hover {
  background: var(--jp-accent-color2);
}

.up-ProfileTrace-frame-native:hover {
  background: var(--jp-brand-color2);
}

.up-ProfileTrace-sample {
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
  border-left: 2px dotted var(--jp-content-font-color3);
}

.up-BenchmarkLauncher-launchbar {
  position: sticky;
  width: 100%;
  margin: auto;
  bottom: 0;
  display: grid;
  grid-template-columns: 85% 1fr;
  padding: 10px;
  box-sizing: border-box;
  padding-bottom: 8px;
}

.up-BenchmarkLauncher-launchbar-buttons {
  display: flex;
  flex-direction: column;
}

.up-BenchmarkMonitor,
.up-BenchmarkLauncher-launchbar-buttons {
  backdrop-filter: blur(10px);
}
